.container {
  list-style: none;
  padding-bottom: 2rem;
}
.img_container {
  border: 1px solid gray;
  border-radius: 1.5em;
  padding: 1rem;
  margin-bottom: 1rem;

  display: flex;
  gap: 2rem;
}
.img_wrapper {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 1.5rem;
}