.container {
  display: flex;
  background: #fff;
  padding: 2rem;
}

.image_container {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_wrapper {
  width: 12rem;
  height: 12rem;
  margin-right: 2rem;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content_container {
  flex: 2;
}

.content_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: flex-start;
}

/* 프로필 내용 */
.content:not(.content:last-child) {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.user_id {
  font-size: 1.5rem;
}

.post_font_size {
  font-size: 1.25rem;
}

.content_edit_button {
  font-size: 1rem;
  border: 0;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

/* .content_edit_button:hover {
  cursor: pointer
} */

.border_color {
  border-color: #FAFAFA;
}

/* contents area */
.posted_content {
  margin: 2rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.dummy_content{
  height: 20rem;
  width: 22.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  background: #eb4a2d2b;
  padding: .5rem
}

.load_content_img {
  width: 22rem;
  height: 100%;
  border-radius: 0.25rem;
}
